body {
    background : silver;
    text-align: center;
    font-family:serif;
    font-weight: 800;
}

#header {
    padding: 20px;
    background: coral;
}

#content {
    background: #fff;
    padding: 20px;
}

#footer {
    background: cornflowerblue;
    padding: 20px;
}